{% extends "base.html" %}

{% block title %}URLLibrary{% endblock %}
{% block sub_title %}
<h3 class="float-md-start mb-0">{{ header }}</h3>
{% endblock %}

<!-- This block is not used, it does not overwrite anything on the extended `base` template -->
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

<!-- This block overwrites the `content` block on the `base` or otherwise known as 'parent' template -->
{% block content %}
    <h1>About</h1>
    <p class="important">
      Welcome to John's S14A Assignment 2 Page! <br>
      My name is John and I am a master's student at HES.  <br>
      This is my first attempt at a webpage.  

    </p>
{% endblock %}