
{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block sub_title %}
<h3 class="float-md-start mb-0">{{ header }}</h3>
{% endblock %}

{% block content %}
<p>{{ message }}</p>

<form method = "POST" action ="/adduser">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name = 'email' aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="examplePhone_number" class="form-label">Phone Number</label>
    <input type="Tel" class="form-control" name = 'phone_number' id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}