{% extends "base.html" %}

{% block title %}URLLibrary{% endblock %}

{% block sub_title %}
<h3 class="float-md-start mb-0">{{ header }}</h3>
{% endblock %}

{% block content %}

<main class="form-signin w-100 m-auto", style="color: grey">

  <form method = "POST" action ="/contact">
    <img class="mb-4" src="/static/icons8-morty-smith-96.png" width="96" height="96">
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmail" name ="email" placeholder="name@example.com">
      <label for="floatingName">Email Address</label>
    </div>    
    <div class="form-floating">
      <input type="tel" class="form-control" id="floatingPhoneNumber" name ="phone_number" placeholder="123-456-7890">
      <label for="floatingEmail">Phone Number</label>
    </div> 
    <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
  </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
crossorigin="anonymous"></script>

    </body>
</html>

{% endblock %}


