{% extends "base.html" %}

{% block title %}Users and Orders{% endblock %}
{% block sub_title %}
<h3 class="float-md-start mb-0">{{header}}</h3>

{% endblock %}

{% block content %}

<table class="table", style="color: white;">
  <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Item Name</th>
      <th scope="col">Item Count</th>
      <th scope="col">Total</th>
      <th scope="col">User Email</th>
    </tr>
  </thead>
  <tbody>
    {% for row in orders %}
    <tr>
      <td>{{ row.id }}</td>
      <td>{{ row.item_name }}</td>
      <td>{{ row.item_count }}</td>
      <td>{{ row.total }}</td>
      <td>{{ row.user_email }}</td>
    </tr>
    {% endfor %}
   </tbody>
</table>

{% endblock %}
