{% extends "base.html" %}

{% block title %}URLLibrary{% endblock %}
{% block sub_title %}
<h3 class="float-md-start mb-0">{{header}}</h3>

{% endblock %}

{% block content %}

<table class="table", style="color: white;">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row.name }}</td>
      <td>{{ row.comments }}</td>
    </tr>
   </tbody>
  {% endfor %}
</table>


{% endblock %}